doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bower_components/bootstrap/dist/css/bootstrap.css')
    script(src='/vendor/bower_component/bootstrap/dist/js/bootstrap.js')
  body
    block content
